//-header url
mixin meunuHeader   
    each menu in ['Home', 'Product', 'About Us', 'Contact', 'Account']
        
        - var urlMenu;
        case menu
            when 'Home'
                - urlMenu ="/"
            when 'Product'
                - urlMenu ="./Page/page-product.html"
            default
                - urlMenu ="#"
        li
            a(href= urlMenu)= menu


mixin productFeatured(titlePro,imagePro,imgRat,productNum)
        .product-type(class=`Product_${productNum}`)
                .img-product(class=`Product_${productNum}`)
                    img(src= imagePro, alt= titlePro)
                .content-product(class=`Product_${productNum}`)
                    h3.title-product= titlePro
                    .rating-product
                        // phần này là làm 1 số trên src nhưng phải trùng tên với nhau  
                        each star in [1,2,3,4,5]
                            span
                                img(src= imgRat.replace(`{star}`, star), alt=`Star${star}`)
                    .price-product $59.00

mixin productLastest(titlePro,imagePro,imgRat,productNum)
        .product-type(class=`Product_${productNum}`)
                .img-product(class=`Product_${productNum}`)
                    img(src= imagePro, alt= titlePro)
                .content-product(class=`Product_${productNum}`)
                    h3.title-product= titlePro
                    .rating-product
                        // phần này là làm 1 số trên src nhưng phải trùng tên với nhau  
                        each star in [1,2,3,4,5]
                            span
                                img(src= imgRat.replace(`{star}`, star), alt=`Star${star}`)
                    .price-product $59.00

mixin brandLogo(title,img)
    .logo-img(class= `Logo_${title}`)
        img(src= img, alt=img)

//-footer
mixin dowImg(img,title)
    img(src= img, alt= title)


mixin userFul
    each useFul in ['Coupons','Blog Post','Return Policy','Join Affiliate']
        li
            a(href="#")= useFul 


                        
//- footer ourlink
mixin followOurLinks
    each followOur in ['Facebook','Twitter','Instagram','Youtube']
                - var url;
                - var followUs = followOur;
                case followUs
                    when 'Facebook'
                        - url = 'https://facebook.com'
                    when 'Twitter'
                        - url = 'https://twitter.com'
                    when 'Instagram'
                        - url = 'https://instagram.com'
                    when 'Youtube'
                        - url = 'https://youtube.com'
                    default
                        - url = '#'
                li
                    a(href=url)= followOur